/* when the screen size is less than 1200px */
/* @media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
} */

/* TABLET */
@media screen and (min-width: 640px) {
    #profile {
        display: flex;
        justify-content: center;
        gap: 0%;
    }
    .section_pic-container {
        margin: 0;
    }

    #xp-container-container {
        display: flex;
    }

    .xp-ul-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* LAPTOP */
@media screen and (min-width: 1024px) {
    #profile {
        gap: 15%;
    }
    /*.section_pic-container {
        margin: 0;
    }

    #xp-container-container {
        display: flex;
    } */

    .xp-ul-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}